In [2]:
import pandas as pd 
import numpy as np
import pprint as pp

In [3]:
data = pd.read_csv('world_population_data.csv')

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head(3)

,rank,cca3,country,continent,2023 population,2022 population,2020 population,2015 population,2010 population,2000 population,1990 population,1980 population,1970 population,area (km²),density (km²),growth rate,world percentage
0,1,IND,India,Asia,1428627663,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590.0,481,0.81%,17.85%
1,2,CHN,China,Asia,1425671352,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961.0,151,-0.02%,17.81%
2,3,USA,United States,North America,339996563,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610.0,37,0.50%,4.25%

In [6]:
df[['country', '2023 population']].head(3)

         country  2023 population
0          India       1428627663
1          China       1425671352
2  United States        339996563

In [7]:
df.country.head(3)

0            India
1            China
2    United States
Name: country, dtype: object

In [8]:
pd.isna(df).head(3)

,rank,cca3,country,continent,2023 population,2022 population,2020 population,2015 population,2010 population,2000 population,1990 population,1980 population,1970 population,area (km²),density (km²),growth rate,world percentage
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
df.tail(3)

,rank,cca3,country,continent,2023 population,2022 population,2020 population,2015 population,2010 population,2000 population,1990 population,1980 population,1970 population,area (km²),density (km²),growth rate,world percentage
231,232,NIU,Niue,Oceania,1935,1934,1942,1847,1812,2074,2533,3637,5185,261.00,7,0.05%,0.00%
232,233,TKL,Tokelau,Oceania,1893,1871,1827,1454,1367,1666,1669,1647,1714,12.00,189,1.18%,0.00%
233,234,VAT,Vatican City,Europe,518,510,520,564,596,651,700,733,752,0.44,1177,1.57%,0.00%

In [10]:
df.columns

Index(['rank', 'cca3', 'country', 'continent', '2023 population',
       '2022 population', '2020 population', '2015 population',
       '2010 population', '2000 population', '1990 population',
       '1980 population', '1970 population', 'area (km²)', 'density (km²)',
       'growth rate', 'world percentage'],
      dtype='object')

In [11]:
df.iloc[0]

rank                         1
cca3                       IND
country                  India
continent                 Asia
2023 population     1428627663
2022 population     1417173173
2020 population     1396387127
2015 population     1322866505
2010 population     1240613620
2000 population     1059633675
1990 population      870452165
1980 population      696828385
1970 population      557501301
area (km²)           3287590.0
density (km²)              481
growth rate              0.81%
world percentage        17.85%
Name: 0, dtype: object

In [12]:
df['Asia?'] = df['continent'] == 'Asia'

In [13]:
df.head(7)

,rank,cca3,country,continent,2023 population,2022 population,2020 population,2015 population,2010 population,2000 population,1990 population,1980 population,1970 population,area (km²),density (km²),growth rate,world percentage,Asia?
0,1,IND,India,Asia,1428627663,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590.0,481,0.81%,17.85%,True
1,2,CHN,China,Asia,1425671352,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961.0,151,-0.02%,17.81%,True
2,3,USA,United States,North America,339996563,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610.0,37,0.50%,4.25%,False
3,4,IDN,Indonesia,Asia,277534122,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569.0,148,0.74%,3.47%,True
4,5,PAK,Pakistan,Asia,240485658,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912.0,312,1.98%,3.00%,True
5,6,NGA,Nigeria,Africa,223804632,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768.0,246,2.41%,2.80%,False
6,7,BRA,Brazil,South America,216422446,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767.0,26,0.52%,2.70%,False

In [14]:
del df['Asia?']

In [15]:
df

,rank,cca3,country,continent,2023 population,2022 population,2020 population,2015 population,2010 population,2000 population,1990 population,1980 population,1970 population,area (km²),density (km²),growth rate,world percentage
0,1,IND,India,Asia,1428627663,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590.00,481,0.81%,17.85%
1,2,CHN,China,Asia,1425671352,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961.00,151,-0.02%,17.81%
2,3,USA,United States,North America,339996563,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610.00,37,0.50%,4.25%
3,4,IDN,Indonesia,Asia,277534122,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569.00,148,0.74%,3.47%
4,5,PAK,Pakistan,Asia,240485658,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912.00,312,1.98%,3.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,230,MSR,Montserrat,North America,4386,4390,4500,5059,4938,5138,10805,11452,11402,102.00,43,-0.09%,0.00%
230,231,FLK,Falkland Islands,South America,3791,3780,3747,3408,3187,3080,2332,2240,2274,12173.00,0,0.29%,0.00%
231,232,NIU,Niue,Oceania,1935,1934,1942,1847,1812,2074,2533,3637,5185,261.00,7,0.05%,0.00%
232,233,TKL,Tokelau,Oceania,1893,1871,1827,1454,1367,1666,1669,1647,1714,12.00,189,1.18%,0.00%
233,234,VAT,Vatican City,Europe,518,510,520,564,596,651,700,733,752,0.44,1177,1.57%,0.00%

In [16]:
df.index

RangeIndex(start=0, stop=234, step=1)

In [17]:
df.iloc[0]

rank                         1
cca3                       IND
country                  India
continent                 Asia
2023 population     1428627663
2022 population     1417173173
2020 population     1396387127
2015 population     1322866505
2010 population     1240613620
2000 population     1059633675
1990 population      870452165
1980 population      696828385
1970 population      557501301
area (km²)           3287590.0
density (km²)              481
growth rate              0.81%
world percentage        17.85%
Name: 0, dtype: object

In [19]:
df['country']

0                 India
1                 China
2         United States
3             Indonesia
4              Pakistan
             ...
229          Montserrat
230    Falkland Islands
231                Niue
232             Tokelau
233        Vatican City
Name: country, Length: 234, dtype: object

In [21]:
paises_asia = df[df['continent'] == 'Asia']

In [22]:
paises_asia

,rank,cca3,country,continent,2023 population,2022 population,2020 population,2015 population,2010 population,2000 population,1990 population,1980 population,1970 population,area (km²),density (km²),growth rate,world percentage
0,1,IND,India,Asia,1428627663,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590.0,481,0.81%,17.85%
1,2,CHN,China,Asia,1425671352,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961.0,151,-0.02%,17.81%
3,4,IDN,Indonesia,Asia,277534122,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569.0,148,0.74%,3.47%
4,5,PAK,Pakistan,Asia,240485658,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912.0,312,1.98%,3.00%
7,8,BGD,Bangladesh,Asia,172954319,171186372,167420951,157830000,148391139,129193327,107147651,83929765,67541860,147570.0,1329,1.03%,2.16%
11,12,JPN,Japan,Asia,123294513,123951692,125244761,127250933,128105431,126803861,123686321,117624196,105416839,377930.0,338,-0.53%,1.54%
12,13,PHL,Philippines,Asia,117337368,115559009,112190977,103031365,94636700,77958223,61558898,48419546,37435586,342353.0,394,1.54%,1.47%
15,16,VNM,Vietnam,Asia,98858950,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212.0,315,0.68%,1.23%
16,17,IRN,Iran,Asia,89172767,88550570,87290193,81790841,75373855,65544383,55793629,38520664,28449705,1648195.0,55,0.70%,1.11%
17,18,TUR,Turkey,Asia,85816199,85341241,84135428,79646178,73195345,64113547,54324142,44089069,35540990,783562.0,110,0.56%,1.07%
19,20,THA,Thailand,Asia,71801279,71697030,71475664,70294397,68270489,63066603,55228410,45737753,35791728,513120.0,141,0.15%,0.90%
26,27,MMR,Myanmar,Asia,54577997,54179306,53423198,51483949,49390988,45538332,40099553,33465781,27284112,676578.0,84,0.74%,0.68%
28,29,KOR,South Korea,Asia,51784059,51815810,51844690,50994401,48813042,46788591,44120039,38170501,32601143,100210.0,531,-0.06%,0.65%
34,35,IRQ,Iraq,Asia,45504560,44496122,42556984,37757813,31264875,24628858,17658381,13653369,9811347,438317.0,105,2.27%,0.57%
35,36,AFG,Afghanistan,Asia,42239854,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230.0,65,2.70%,0.53%
39,40,SAU,Saudi Arabia,Asia,36947025,36408820,35997107,32749848,29411929,21547390,16004763,10171710,6106191,2149690.0,17,1.48%,0.46%
42,43,UZB,Uzbekistan,Asia,35163944,34627652,33526656,30949417,28614227,24925554,20579100,15947129,12011361,447400.0,80,1.55%,0.44%
43,44,YEM,Yemen,Asia,34449825,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968.0,65,2.24%,0.43%
45,46,MYS,Malaysia,Asia,34308525,33938221,33199993,31068833,28717731,22945150,17517054,13215707,10306508,330803.0,104,1.09%,0.43%
48,49,NPL,Nepal,Asia,30896590,30547580,29348627,27610325,27161567,24559500,19616530,15600442,12501285,147181.0,216,1.14%,0.39%
55,56,PRK,North Korea,Asia,26160821,26069416,25867467,25258015,24686435,23367059,20799523,17973650,14996879,120538.0,217,0.35%,0.33%
56,57,TWN,Taiwan,Asia,23923276,23893394,23821464,23512136,23083083,22194731,20586174,18100281,14957870,36193.0,661,0.13%,0.30%
59,60,SYR,Syria,Asia,23227014,22125249,20772595,19205178,22337563,16307654,12408996,8898954,6319199,185180.0,126,4.98%,0.29%
60,61,LKA,Sri Lanka,Asia,21893579,21832143,21715079,21336697,20668557,18776371,17204094,14943645,12388769,65610.0,354,0.28%,0.27%
65,66,KAZ,Kazakhstan,Asia,19606633,19397998,18979243,17835909,16627837,15236253,16866563,14172710,12265305,2724900.0,7,1.08%,0.24%
72,73,KHM,Cambodia,Asia,16944826,16767842,16396860,15417523,14363532,12118841,8910808,6198959,6708525,181035.0,96,1.06%,0.21%
82,83,JOR,Jordan,Asia,11337052,11285869,10928721,9494246,6931258,5056174,3480587,2216903,1557374,89342.0,128,0.45%,0.14%
89,90,AZE,Azerbaijan,Asia,10412651,10358074,10284951,9863480,9237202,8190337,7427836,6383060,5425317,86600.0,126,0.53%,0.13%
94,95,TJK,Tajikistan,Asia,10143543,9952787,9543207,8524063,7621779,6272998,5417860,4045965,2993019,143100.0,73,1.92%,0.13%
95,96,ARE,United Arab Emirates,Asia,9516871,9441129,9287289,8916899,8481771,3275333,1900151,1014048,298084,83600.0,134,0.80%,0.12%
97,98,ISR,Israel,Asia,9174520,9038309,8757489,8007778,7328445,6116958,4803254,3744608,2907307,20770.0,424,1.51%,0.11%
102,103,LAO,Laos,Asia,7633779,7529475,7319399,6787419,6323418,5430853,4314443,3297519,2675283,236800.0,33,1.39%,0.10%
103,104,HKG,Hong Kong,Asia,7491609,7488865,7500958,7399838,7132438,6731195,5838574,4978544,3955072,1104.0,7135,0.04%,0.09%
108,109,KGZ,Kyrgyzstan,Asia,6735347,6630623,6424874,5914980,5483774,4935182,4394734,3691209,3016384,199951.0,35,1.58%,0.08%
110,111,TKM,Turkmenistan,Asia,6516100,6430770,6250438,5766431,5267970,4569132,3720278,2862903,2201432,488100.0,14,1.33%,0.08%
113,114,SGP,Singapore,Asia,6014723,5975689,5909869,5650018,5163590,4053602,3022209,2400729,2061831,710.0,8377,0.65%,0.08%
120,121,PSE,Palestine,Asia,5371230,5250072,5019401,4484614,3992278,3139954,2124609,1453620,1118241,6220.0,892,2.31%,0.07%
121,122,LBN,Lebanon,Asia,5353930,5489739,5662923,6398940,4995800,4320642,3593700,2963702,2381791,10452.0,523,-2.47%,0.07%
126,127,OMN,Oman,Asia,4644384,4576298,4543399,4191776,2881914,2344253,1804524,1017462,670693,309500.0,15,1.49%,0.06%
128,129,KWT,Kuwait,Asia,4310108,4268873,4360444,3908743,2943356,1934901,1674938,1493870,802786,17818.0,242,0.97%,0.05%
131,132,GEO,Georgia,Asia,3728282,3744385,3765912,3771132,3836831,4265172,5391636,5145843,4800426,69700.0,54,-0.43%,0.05%
132,133,MNG,Mongolia,Asia,3447157,3398366,3294335,2964749,2702520,2450979,2161433,1697780,1293880,1564110.0,2,1.44%,0.04%
139,140,ARM,Armenia,Asia,2777970,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743.0,98,-0.09%,0.03%
142,143,QAT,Qatar,Asia,2716391,2695122,2760385,2414573,1713504,645937,441675,277450,118007,11586.0,236,0.79%,0.03%
153,154,BHR,Bahrain,Asia,1485509,1472233,1477469,1362142,1213645,711442,517418,362595,222555,765.0,1892,0.90%,0.02%
154,155,TLS,Timor-Leste,Asia,1360596,1341296,1299995,1205813,1088486,878360,758106,642224,554021,14874.0,91,1.44%,0.02%
164,165,BTN,Bhutan,Asia,787424,782455,772506,743274,705516,587207,558442,415257,298894,38394.0,21,0.64%,0.01%
166,167,MAC,Macau,Asia,704149,695168,676283,615239,557297,431896,350227,245332,247284,32.9,21403,1.29%,0.01%
173,174,MDV,Maldives,Asia,521021,523787,514438,435582,361575,282507,224957,164887,123243,300.0,1737,-0.53%,0.01%
174,175,BRN,Brunei,Asia,452524,449002,441725,421437,396053,333926,261928,187921,133343,5765.0,86,0.78%,0.01%

In [24]:
paises_asia.shape

(50, 17)

In [26]:
paises_asia.loc[11]

rank                       12
cca3                      JPN
country                 Japan
continent                Asia
2023 population     123294513
2022 population     123951692
2020 population     125244761
2015 population     127250933
2010 population     128105431
2000 population     126803861
1990 population     123686321
1980 population     117624196
1970 population     105416839
area (km²)           377930.0
density (km²)             338
growth rate            -0.53%
world percentage        1.54%
Name: 11, dtype: object

In [29]:
paises_asia.loc[11, ['country']]

country    Japan
Name: 11, dtype: object